.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 2px 12px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 10px 2px 12px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 2px 12px 0px rgba(0, 0, 0, 0.38);
}
.featuredTitle {
  font-size: 20px;
}
.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: bold;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
}